﻿@model IEnumerable<Veterinaria.Models.Propietario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de propietarios</h2>

<p>
    @Html.ActionLink("Nuevo Propietario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Propietario }) |
            @Html.ActionLink("Consultar", "Details", new { id = item.Id_Propietario }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_Propietario }) |
            @Html.ActionLink("Agregar mascota", "Create", "Mascotas", new { propietarioId = item.Id_Propietario }, null) |
            @Html.ActionLink("Ver mascotas", "ByPropietario", "Mascotas", new { id = item.Id_Propietario }, null)
        </td>
    </tr>
}

</table>
