﻿@model Veterinaria.Models.Historia_Clinica

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Nombre</span>
        </dt>
        <dd>
            <span style="text-transform:uppercase;">@ViewBag.Mascota.Nombre</span>
        </dd>
        <dt>
            <span>Edad</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Edad
        </dd>
        <dt>
            <span>Color</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Color
        </dd>
        <dt>
            <span>Raza</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Raza
        </dd>
        <dt>
            <span>Especie</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Especie
        </dd>
        <dt>
            <span>Peso</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Peso
        </dd>
    </dl>
</div>

@using (Html.BeginForm()) 
{
    @Html.HiddenFor(model => model.Id_Mascota)

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Historia_Clinica</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Diagnostico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Diagnostico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diagnostico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sintomas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Sintomas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sintomas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Atras", "Index", null, htmlAttributes: new { @class = "btn btn-Sucess" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}