﻿@model Veterinaria.Models.Historia_Clinica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
  <h2>Consultar</h2>


    <h4>Historia Clinica</h4>
    <hr />

</div>
<div align="justify">
    <dl class="dl-horizontal">
        <dt>
           @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sintomas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sintomas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Mascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Mascota)
        </dd>

    </dl>
</div>
<div align="center">
    
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Historia_Clinica }) |
    @Html.ActionLink("Atras", "Index")
</p>
</div>