﻿@model IEnumerable<Veterinaria.Models.Historia_Clinica>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historia Clinica</h2>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Nombre</span>
        </dt>
        <dd>
            <span style="text-transform:uppercase;">@ViewBag.Mascota.Nombre</span>
        </dd>
        <dt>
            <span>Edad</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Edad
        </dd>
        <dt>
            <span>Color</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Color
        </dd>
        <dt>
            <span>Raza</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Raza
        </dd>
        <dt>
            <span>Especie</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Especie
        </dd>
        <dt>
            <span>Peso</span>
        </dt>
        <dd>
            @ViewBag.Mascota.Peso
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.Mascota.Id_Mascota })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sintomas)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnostico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sintomas)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Id_Mascota)
        </td>*@
        <td>
            @Html.ActionLink("Consultar", "Details", new { id=item.Id_Historia_Clinica }) |
        </td>
    </tr>
}

</table>
