﻿@model Veterinaria.Models.Pagina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quienes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quienes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visitanos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitanos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Pagina }) |
    @Html.ActionLink("Atras", "Index")
</p>
