﻿@model Veterinaria.Models.Pagina

@{
    ViewBag.Title = "Editar";
  
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pagina</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Pagina)

        @if (ViewBag.Content == "Quienes")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Quienes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Quienes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quienes, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
        @if (ViewBag.Content == "Servicios")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Servicios, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Servicios, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Servicios, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
        @if (ViewBag.Content == "Visitanos")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Visitanos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Visitanos, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Visitanos, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @if (ViewBag.Content == "Inicio")
        { 
            <div class="form-group">
                @Html.LabelFor(model => model.Inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Inicio, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Atras", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
