﻿@model IEnumerable<Veterinaria.Models.Pagina>

@{
    ViewBag.Title = "Index";
}

<h2>Paginas</h2>


<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Quienes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visitanos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th></th>
    </tr>*@

    @foreach (var item in Model)
    {
        <tbody style="border-color:gray;border-width:4px;margin-bottom:10px;">
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Quienes)</b>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = "Quienes" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(item.Quienes)
                </td>
                @*<td>
                @Html.Raw(item.Servicios)
            </td>
            <td>
                @Html.Raw(item.Visitanos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id_Pagina }) |
                @Html.ActionLink("Consultar", "Details", new { id = item.Id_Pagina }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Pagina }) |
                @Html.ActionLink("Agregar Pagina", "Create", "Paginas", new { propietarioId = item.Id_Pagina }, null) |
                @Html.ActionLink("Ver Paginas", "Details", "Paginas", new { id = item.Id_Pagina }, null)
            </td>*@
            </tr>
        </tbody>
        <tbody style="border-color:gray;border-width:2px;margin-bottom:5px;">
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Servicios)</b>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = "Servicios" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(item.Servicios)
                </td>
            </tr>
        </tbody>
        <tbody style="border-color:gray;border-width:4px;margin-bottom:10px;">
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Visitanos)</b>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = "Visitanos" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(item.Visitanos)
                </td>
            </tr>
        </tbody>
        <tbody style="border-color:gray;border-width:4px;margin-bottom:10px;">
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Inicio)</b>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = "Inicio" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(item.Inicio)
                </td>
            </tr>
        </tbody>
    }

</table>
