﻿@model IEnumerable<Veterinaria.Models.Mascota>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de mascotas</h2>

<p>
    @*@Html.ActionLink("Nueva Mascota", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Mascota }) |
            @Html.ActionLink("Consultar", "Details", new { id = item.Id_Mascota }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_Mascota }) |
            @Html.ActionLink("Ver historial", "Index", "Historia_Clinica", new { id = item.Id_Mascota }, null)

        </td>
    </tr>
}

</table>
